.body {
    display: grid;
    min-height: 900px;
    grid-template-columns: 1;
    grid-template-rows: 112px 1fr 112px;
    height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    background: #191a1a
}

// create a navbar that has a link to the home page and a link to the about page and is 1 tenth of the screen height
.navbar,
.footer {
    border-radius: 7px;
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    opacity: 0;
}

.navbar:hover,
.footer:hover {
    background-color: rgb(66, 105, 125, .2);
    opacity: 1;
    color: white;
}